/node_modules
/public/css/*
/public/fonts
/public/hot
/public/js/*
/public/storage
/public/vendor
/public/mix-manifest.json
/storage/*.key
/storage/forms
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.antlers.json
