---
inactive_class: border-4 border-transparent outline-none cursor-pointer focus:outline-none
active_class:   border-4 border-white outline-none cursor-pointer focus:outline-none
---




<div class="relative flex justify-center mt-2">
  <div
    class      ="absolute top-0 z-10 flex justify-between w-full h-full"
    aria-label ="Carousel Navigation"
    tabindex   ="0"
  >
    <div
      data-js-product-gallery-previous ="{{ slide_name }}_{{ index }}"
      class                            ="flex items-center justify-center w-10 text-lg font-bold text-white outline-none cursor-pointer bg-black-opacity-50 rounded-l-lg"
      tabindex                         ="-1"
    >
      &laquo; <span class="sr-only">Previous</span>
    </div>

    <div
      data-js-product-gallery-next ="{{ slide_name }}_{{ index }}"
      class                        ="flex items-center justify-center w-10 text-lg font-bold text-white outline-none cursor-pointer bg-black-opacity-50  rounded-r-lg"
      tabindex                     ="-1"
    >
      &raquo; <span class="sr-only">Next</span>
    </div>
  </div>




  <div class="relative z-20 flex mx-12 outline-none">
    <div
      data-js-product-gallery-x-controls ="{{ slide_name }}_{{ index }}"
      class                              ="flex justify-start w-full outline-none thumbnails"
      aria-label                         ="Carousel Pagination"
    >
      {{ images }}
        {{ if first }}
          {{ partial:brand_pages/components/product_gallery/x_nav_item
              p_page_count            ="{count}"
              p_button_class          ="{view:active_class}"
              p_inactive_button_class ="{view:inactive_class}"
              p_active_button_class   ="{view:active_class}"
              p_go_to                 ="{index}"
              p_src                   ="{glide:url width='80' height='80' fit='contain'}"
          }}
        {{ else }}
          {{ partial:brand_pages/components/product_gallery/x_nav_item
              p_page_count            ="{count}"
              p_button_class          ="{view:inactive_class}"
              p_inactive_button_class ="{view:inactive_class}"
              p_active_button_class   ="{view:active_class}"
              p_go_to                 ="{index}"
              p_src                   ="{glide:url width='80' height='80' fit='contain'}"
          }}
        {{ /if }}
      {{ /images }}

      {{ product_videos }}
        {{ if first && (images|count) === 0 }}
          {{ partial:brand_pages/components/product_gallery/x_nav_item
              p_page_count            ="{images | count | add:count}"
              p_button_class          ="{view:active_class}"
              p_inactive_button_class ="{view:inactive_class}"
              p_active_button_class   ="{view:active_class}"
              p_go_to                 ="{images | count | add:index}"
              p_src                   ="{glide:thumbnail width='80' height='80' fit='contain'}"
          }}
        {{ else }}
          {{ partial:brand_pages/components/product_gallery/x_nav_item
              p_page_count            ="{images | count | add:count}"
              p_button_class          ="{view:inactive_class}"
              p_inactive_button_class ="{view:inactive_class}"
              p_active_button_class   ="{view:active_class}"
              p_go_to                 ="{images | count | add:index}"
              p_src                   ="{glide:thumbnail width='80' height='80' fit='contain'}"
          }}
        {{ /if }}
      {{ /product_videos }}
    </div>
  </div>
</div>
